@import "tailwindcss";

@theme {
  --font-hand: 'Gloria Hallelujah', cursive;
  --font-sans: 'Tahoma', 'Verdana', sans-serif;
  --font-mono: 'Consolas', 'Courier New', monospace;
  --color-xp-blue: #245DDA;
  --color-xp-bg: #ECE9D8;
}

.cutout-edges {
  clip-path: polygon(
    0% 0%, 100% 2%, 98% 100%, 2% 98%
  );
}

.clip-path-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.tape-sm {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    backdrop-filter: blur(1px);
    border: 0.5px solid rgba(255,255,255,0.3);
}

:root {
  --background: #1a1a1a;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
